<div class="jumbotron" style="padding: 45px 0px;">
  <h4 class="text-center">To do list</h4> 
</div>


<div class="input-group">
  <input type="text" class="form-control" placeholder="Please Enter Task"
  #iTitle 
  (keyup.enter)="onAddTodo(iTitle)"
  >
  
    <div class="input-group-prepend">
        <span class="input-group-text hover-cursor" id="basic-addon1" 
        (click)="onAddTodo(iTitle)"><i class="fa fa-plus"></i></span>
    </div>
</div>

<ul class="list-group">
  <li class="list-group-item"  *ngFor="let item of todoArray">
    <input class="notCompleted" id="hover-cursor" type="checkbox" [(ngModel)] = "item.completed" (click)="checkTodo(item.$key,item.completed)">
    <span  class="item-completed" [ngClass]="{'completed': item.completed}" >  {{item.todoTitle}}  </span>
    <span>{{item.iDate}}</span>
    <span class="remove-item" (click)="onDelete(item.$key)">
      <button class="btn-danger hover-cursor pull-right"><i class="fa fa-trash" aria-hidden="true"></i></button>
    </span>
  </li>
</ul>

 